
<h2>Todays Hesi Schedule</h2>
<%= turbo_frame_tag "students" do %>
<div class="flex flex-col h-screen">
    <div class="flex-grow overflow-auto">
      <table class="relative w-full border">
        <thead>
          <tr>
            <th class="sticky top-0 px-6 py-3 text-white bg-blue-300">Student name</th>
            <th class="sticky top-0 px-6 py-3 text-white bg-blue-300">Advisor</th>
            <th class="sticky top-0 px-6 py-3 text-white bg-blue-300">Program</th>
            <th class="sticky top-0 px-6 py-3 text-white bg-blue-300">Wonderlic Score</th>
            <th class="sticky top-0 px-6 py-3 text-white bg-blue-300">phone number</th>
            <th class="sticky top-0 px-6 py-3 text-white bg-blue-300">Attempt Number</th>
            <th class="sticky top-0 px-6 py-3 text-white bg-blue-300">Hesi Date</th>
            <th class="sticky top-0 px-6 py-3 text-white bg-blue-300">Hesi Time</th>
            <th class="sticky top-0 px-6 py-3 text-white bg-blue-300"></th>
          </tr>
        </thead>
        <tbody class="divide-y bg-blue-100">

          <% Hesi.todays_testers.each do |student| %>
          <tr>
            <td><%= link_to student.name, student_path(student), class: "px-6 py-4 text-center"%></td>
            <td><%= link_to student.advisor.name, advisor_path(student.advisor), class: "px-6 py-4 text-center" %> </td>
            <td><%= link_to student.program.name, program_path(student.program), class: "px-6 py-4 text-center" %></td>
            <td class="px-6 py-4 text-center"><%= student.sle %></td>
            <td class="px-6 py-4 text-center"><%= student.phone %></td>
            <td class="px-6 py-4 text-center"><%= student.attempt_number %></td>
            <td class="px-6 py-4 text-center"><%= student.hesi_date %></td>
            <td class="px-6 py-4 text-center"><%= Hesi.test_times.keys[student.hesi_time] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
   </div>
<h2>Tomorrows Hesi Schedule</h2>

<div class="flex flex-col h-screen mb-5">
    <div class="flex-grow overflow-auto">
      <table class="relative w-full border mb-5">
        <thead>
          <tr>
            <th class="sticky top-0 px-6 py-3 text-white bg-blue-300">Student name</th>
            <th class="sticky top-0 px-6 py-3 text-white bg-blue-300">Advisor</th>
            <th class="sticky top-0 px-6 py-3 text-white bg-blue-300">Program</th>
            <th class="sticky top-0 px-6 py-3 text-white bg-blue-300">Wonderlic Score</th>
            <th class="sticky top-0 px-6 py-3 text-white bg-blue-300">phone number</th>
            <th class="sticky top-0 px-6 py-3 text-white bg-blue-300">hesi date</th>
            <th class="sticky top-0 px-6 py-3 text-white bg-blue-300">Hesi Time</th>
            <th class="sticky top-0 px-6 py-3 text-white bg-blue-300"></th>
          </tr>
        </thead>
        <tbody class="divide-y bg-blue-100">

          <% Hesi.tomorrows_testers.each do |student| %>
          <tr>
            <td><%= link_to student.name, student_path(student), class: "px-6 py-4 text-center"%></td>
            <td><%= link_to student.advisor.name, advisor_path(student.advisor), class: "px-6 py-4 text-center" %> </td>
            <td><%= link_to student.program.name, program_path(student.program), class: "px-6 py-4 text-center" %></td>
            <td class="px-6 py-4 text-center"><%= student.sle %></td>
            <td class="px-6 py-4 text-center"><%= student.phone %></td>
            <td class="px-6 py-4 text-center"><%= student.attempt_number %></td>
            <td class="px-6 py-4 text-center"><%= student.hesi_date %></td>
            <td class="px-6 py-4 text-center"><%= Hesi.test_times.keys[student.hesi_time] %></td>
          </tr>
        <% end %>

        </tbody>
      </table>
   
  </div>
<% end %>
